<header>
    <section
            class="elementor-section elementor-top-section elementor-element elementor-element-26ab1d0 elementor-section-full_width elementor-section-height-default elementor-section-height-default wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no"
            data-id="26ab1d0" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-692f600"
                 data-id="692f600" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-28734b3 e-grid-align-mobile-left e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
                         data-id="28734b3" data-element_type="widget" data-widget_type="social-icons.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-social-icons-wrapper elementor-grid">
							<span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-grow elementor-repeater-item-25d5aca"
                       href="https://www.instagram.com/i4twins_com/" target="_blank">
						<span class="elementor-screen-only">Instagram</span>
						<i class="fab fa-instagram"></i>					</a>
				</span>
                                <span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-grow elementor-repeater-item-0e4bd82"
                       href="https://www.youtube.com/channel/UCelkP9lg-qeMXNlYpyhpEyQ" target="_blank">
						<span class="elementor-screen-only">Youtube</span>
						<i class="fab fa-youtube"></i>					</a>
				</span>
                                <span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-grow elementor-repeater-item-2847668"
                       href="https://www.linkedin.com/company/i4twins" target="_blank">
						<span class="elementor-screen-only">Linkedin</span>
						<i class="fab fa-linkedin"></i>					</a>
				</span>
                                <span class="elementor-grid-item">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-envelope elementor-animation-grow elementor-repeater-item-0aa213c"
                       href="mailto:info@i4twins.com" target="_blank">
						<span class="elementor-screen-only">Envelope</span>
						<i class="fas fa-envelope"></i>					</a>
				</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ae2c89c"
                 data-id="ae2c89c" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-890c73d elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button"
                         data-id="890c73d" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-xs" href="#">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Request Demo</span>
					</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-wpr-sticky-section="yes" data-wpr-position-type="sticky" data-wpr-position-offset="0"
             data-wpr-position-location="top" data-wpr-sticky-devices="desktop_sticky"
             data-wpr-custom-breakpoints="default"
             data-wpr-active-breakpoints="mobile_sticky tablet_sticky desktop_sticky" data-wpr-z-index="10"
             data-wpr-sticky-hide="" data-wpr-replace-header="" data-wpr-animation-duration=""
             data-wpr-sticky-type="sticky"
             class="elementor-section elementor-top-section elementor-element elementor-element-6d2fa8f elementor-section-full_width wpr-sticky-section-yes elementor-section-height-default elementor-section-height-default wpr-particle-no wpr-jarallax-no wpr-parallax-no"
             data-id="6d2fa8f" data-element_type="section"
             data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;position_offset&quot;:0,&quot;position_offset_tablet&quot;:0,&quot;position_offset_mobile&quot;:0}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-65958ca"
                 data-id="65958ca" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-29316db elementor-widget elementor-widget-image"
                         data-id="29316db" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <a href="http://www.i4Twins.com">
                                <img decoding="async" width="326" height="134"
                                     src="https://i4twins.com/wp-content/uploads/2021/01/i4twins-v2.svg"
                                     class="attachment-full size-full wp-image-6034" alt="i4twins logo"/> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-da85529"
                 data-id="da85529" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-5b5262a3 wpr-pointer-none wpr-sub-menu-fx-slide wpr-sub-icon-chevron-down wpr-main-menu-align-center wpr-main-menu-align--tabletcenter wpr-main-menu-align--mobileright wpr-nav-menu-bp-tablet wpr-mobile-menu-item-align-left wpr-mobile-menu-full-width wpr-mobile-toggle-v1 wpr-mobile-divider-yes elementor-widget elementor-widget-wpr-nav-menu"
                         data-id="5b5262a3" data-element_type="widget"
                         data-settings="{&quot;menu_layout&quot;:&quot;horizontal&quot;}"
                         data-widget_type="wpr-nav-menu.default">
                        <div class="elementor-widget-container">
                            <nav class="wpr-nav-menu-container wpr-nav-menu-horizontal" data-trigger="hover">
                                <ul id="menu-1-5b5262a3" class="wpr-nav-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5512">
                                        <a href="{% url "chat_list" %}" class="wpr-menu-item wpr-pointer-item">Rag</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5504">
                                        <a target="_blank" href="https://i4twins.com/smart-home-solution-integrators/"
                                           class="wpr-menu-item wpr-pointer-item">Use Cases</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10338">
                                        <a href="https://i4twins.com/contact-us/"
                                           class="wpr-menu-item wpr-pointer-item">contact us</a></li>
                                    <li class="lang-item lang-item-108 lang-item-fa lang-item-first menu-item menu-item-type-custom menu-item-object-custom menu-item-10084-fa">
                                        <a href="https://i4twins.com/fa/%d8%b5%d9%81%d8%ad%d9%87-%d8%a7%d8%b5%d9%84%db%8c/"
                                           hreflang="fa-IR" lang="fa-IR"
                                           class="wpr-menu-item wpr-pointer-item">فارسی</a></li>
                                    <li class="lang-item lang-item-112 lang-item-en current-lang menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-10084-en">
                                        <a href="https://i4twins.com/" hreflang="en-AU" lang="en-AU"
                                           class="wpr-menu-item wpr-pointer-item">English</a></li>
                                </ul>
                            </nav>
                            <nav class="wpr-mobile-nav-menu-container">
                                <div class="wpr-mobile-toggle-wrap">
                                    <div class="wpr-mobile-toggle"><span class="wpr-mobile-toggle-line"></span><span
                                            class="wpr-mobile-toggle-line"></span><span
                                            class="wpr-mobile-toggle-line"></span></div>
                                </div>
                                <ul id="mobile-menu-2-5b5262a3" class="wpr-mobile-nav-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6278">
                                        <a href="#who" class="wpr-mobile-menu-item">Who We Are</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10637">
                                        <a href="#tools" class="wpr-mobile-menu-item">Tools</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5499">
                                        <a href="#features" class="wpr-mobile-menu-item">Features</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10638">
                                        <a href="#solutions" class="wpr-mobile-menu-item">Solutions</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5502">
                                        <a href="#services" class="wpr-mobile-menu-item">Services</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5504">
                                        <a target="_blank" href="https://i4twins.com/smart-home-solution-integrators/"
                                           class="wpr-mobile-menu-item">Use Cases</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5510">
                                        <a href="#faq" class="wpr-mobile-menu-item">FAQ&#8217;s</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5512">
                                        <a href="#blog" class="wpr-mobile-menu-item">Blog</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10338">
                                        <a href="https://i4twins.com/contact-us/" class="wpr-mobile-menu-item">contact
                                            us</a></li>
                                    <li class="lang-item lang-item-108 lang-item-fa lang-item-first menu-item menu-item-type-custom menu-item-object-custom menu-item-10084-fa">
                                        <a href="https://i4twins.com/fa/%d8%b5%d9%81%d8%ad%d9%87-%d8%a7%d8%b5%d9%84%db%8c/"
                                           hreflang="fa-IR" lang="fa-IR" class="wpr-mobile-menu-item">فارسی</a></li>
                                    <li class="lang-item lang-item-112 lang-item-en current-lang menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-10084-en">
                                        <a href="https://i4twins.com/" hreflang="en-AU" lang="en-AU"
                                           class="wpr-mobile-menu-item">English</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>